# Ignore everything.
*

# Except directories
!*/

# Except for these files
!.gitignore
!**/*.pdf
!**/*.tex
!**/*.bib
!**/*.md
!**/*.png
!**/*.py
!**/*.ipynb
!Dockerfile
!resources/**/*
!requirements.txt
!scripts/**/*
!.github/**/*
!pyproject.toml
